@import "tailwindcss";

:root {
  --background: #061213;
  --foreground: #ffffff;
  --blue: #61dafb;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

main {
  background-color: var(--background)
}

.App-header{
  width: 100%;
  display: flex;
}